body, html{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008DDA;
    height: 100%;
}

.wrapper{
    background-color: white;
    border-radius: 10px;
    width: 400px;
}

.select-box{
    border: rgb(212, 212, 212) 1px solid;
    border-radius: 5px;
}

.flag{
    height: 50px;
}

.country{
    border: 0px;
}

.btn{
    background-color: #7be3f5;
    width: 100%;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}
.btn:hover{
    background-color: #00d9ff;
}

select{
    border: 0;
    margin: 10px 0px 0 10px;
}

select::-webkit-scrollbar{
    width: 8px;
}
select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
    border: 2px solid #fff;
}

.exchange-rate p{
    font-weight: 620;
    font-size: large;
}

.icon:hover{
    cursor: pointer;
}